body {
    background-image: url("../images/disney-background.jpg");
    height: auto;
    position: relative;
    z-index: 1;
    color:rgb(20, 18, 18);font-family: 'Coiny', cursive;
    font-size: auto;
}

#TriviaGameTitle {
    padding: 1.5%;
    margin: 3%;
    background-image: url("../images/background-header-pic.jpg");
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold;
    font-size: 2.5rem;
    height: auto;
    width: auto;
    color: darkred;
}

#timerArea {
    margin-top: -2%;
    margin-bottom: 2.5%;
    margin-left: 45%;
    margin-right: 45%;
    background: white;
}

#container {
    clear: both;
    background: rgba(4, 98, 192, 0.712);
    padding: 5%;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -2%;
    height: auto;
    width: auto;
    box-align: center;
    display:flex;
    position: relative;
}
#activeAnswers > div {
    padding: .75rem;
}
#activeAnswers > div:hover {
    background: pink;
}